/*
 Project name: CellSIM/style.css
 Author & email: Mirza Suljić <mirza.suljic.ba@gmail.com>
 Date & time: Feb 6, 2016, 4:42:15 AM
*/
/* 
    Created on : Feb 6, 2016, 4:42:15 AM
    Author     : Mirza Suljić <mirza.suljic.ba@gmail.com>
*/

.backgroundColor {
    -fx-background-color: #262626;
}
.backgroundColorMenu {
    -fx-background-color: #666666;
}
.emptyCell {
    -fx-background-color: black, white ;
    -fx-background-insets: 0, 0 0.1 0.1 0 ;
}