/*
 Project name: CellSIM/style.css
 Author & email: Mirza Suljić <mirza.suljic.ba@gmail.com>
 Date & time: Feb 6, 2016, 4:42:15 AM
*/
/* 
    Created on : Feb 6, 2016, 4:42:15 AM
    Author     : Mirza Suljić <mirza.suljic.ba@gmail.com>
*/

.backgroundColor {
    -fx-background-color: #0d0d0d;
}
.backgroundColorMenu {
    -fx-background-color: #666666;
}
.accentText {
    -fx-text-fill: #cccccc;
}
.greenText {
    -fx-text-fill: #269900;
}
.redText {
    -fx-text-fill: #990000;
}
.smallText {
    -fx-font-size: 7;
}
.bigText {
    -fx-font-size: 20;
}
.biggerText {
    -fx-font-size: 30;
}
.backgroundColorAccent {
    -fx-background-color: #595959;
}
.darkGrayBorder {
    -fx-border-color: #1a1a1a;
    -fx-border-width: 1px;
}
